@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');

/* MÃ¤Ã¤ritetÃ¤Ã¤n sarakkeen ominaisuudet */
td{
  background-color: #c4abab;
  height: 170px;
  width: 240px;
  text-align: center;
  font-size: 72px;

  background-size: 215px 215px;
  background-image: none;
}
/* MÃ¤Ã¤ritetÃ¤Ã¤n kuvien ominaisuudet */
img{
  height: 140px;
  margin-bottom: -20px;
}

body
{
    background-color: #f4c531;
}

#pelialue
{

  margin-left: 20px;
}

.palkki
{
  border-radius: 15px;
  background-color: white;
}

.otsikko
{
float: left;
font-family: 'Bebas Neue', cursive;
margin-left: 20px;
}

h2, .ajastin
{
  font-family: 'Kanit', sans-serif;
  margin-left: 20px;
  display: inline-block;
}

.ajastin
{
  font-size: 20px;
  font-weight: bolder;
}

.valikko
{
float: right;
display: block;
font-family: 'Kanit', sans-serif;
font-size: 25px;
margin-top: 20px;
margin-right: 20px;
}

#peli
{
  border-radius: 15px;
  background-color: white;
  height: 850px;
  width: 900px;
  margin-top: 20px;
  padding-right: 35px;
}
