/* MÃ¤Ã¤ritetÃ¤Ã¤n sarakkeen ominaisuudet */
td{
  background-color: #c4abab;
  height: 170px;
  width: 240px;
  text-align: center;
  font-size: 72px;

  background-size: 215px 215px;
  background-image: none;
}
/* MÃ¤Ã¤ritetÃ¤Ã¤n kuvien ominaisuudet */
img{
  height: 140px;
  margin-bottom: -20px;
}
