@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* {
  font-family: 'Lobster', cursive;
}
body {
  margin: 0;
}
.parallax {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.background {
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  transform: translateZ(-1px) scale(2);
}
.background--spring {
  background-image: url('https://www.zastavki.com/pictures/2560x1600/2014/Nature___Seasons___Spring__Beautiful_spring_flowers_in_the_park_065856_19.jpg');
}
.background--summer {
  background-image: url('https://mcdn.wallpapersafari.com/medium/60/28/zKM972.jpg');
}
