@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');


body
{
  background-color: #DDA0DD;
  margin: auto;
  width: 45%;
}

h1
{
  font-family: 'Peralta', cursive;
  color: red;
}
h3 {
font-family: 'Shadows Into Light', cursive;
}

.f1
{
  margin: auto;
  padding-left: 50%;
  padding-right: 50%;
}
button {
  margin-bottom: 10%;;
}
