
body {
  margin: auto;
  width: 45%;
  margin-top: 15px;
  background-image: linear-gradient(to right top, #272710, #463b06, #714d00, #a55900, #e25c00);
}
button {
  margin-bottom: 10%;
}
h1
{
  font-family: 'Peralta', cursive;
  color: #FFD4AA;
}
h3
{
font-family: 'Shadows Into Light', cursive;
text-align: left;
font-size: 110%;
}
label {
  position:absolute;

}


.f1{
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #AFF0ED, #C6AEDD)
}
