figure
{
  float: left;
  margin: 0px 10px;
}
figcaption
{
  text-align: center;
}
h1
{
  font-size: 50px;
}
p
{
  font-size: 20px;
}
img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}
